/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*  font-family: 'Ysabeau Infant', sans-serif;*/
/*}*/


/*.blog-container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  color: rgb(194, 194, 194);
  background-color: rgb(25, 25, 25);
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0 auto;
}

.App {
/*display: flex;*/
/*flex-direction: column;*/
/*max-width: 1200px;*/
/*color: rgb(194, 194, 194);*/
/*background-color: rgb(25, 25, 25);*/
/*min-height: 100vh;*/
/*font-family: 'Montserrat', sans-serif;*/
/*font-weight: 300;*/
/*margin: 0 auto;*/

}

/*@media (min-width: 922px) {*/
/*   .blog-container {*/
/*     display: flex;*/
/*   }*/
/*}*/
